"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "autocomplete-ruby":
    port: 65535
  core:
    audioBeep: false
    destroyEmptyPanes: false
    projectHome: "/Users/manlycode/git/"
  docblockr: {}
  editor:
    fontSize: 11
    invisibles: {}
  "exception-reporting":
    userId: "a57934e6-cc5a-7939-e4b6-2b8d838219d7"
  "linter-rubocop": {}
  "ruby-test":
    shell: "zsh"
  welcome:
    showOnStartup: false
